//- Все примеси в этом файле должны начинаться c имени блока (features)

mixin features(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +features('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' features--' + modsList[i].trim();
      }
    }

  .features(class=allMods)&attributes(attributes)
      block

mixin features-item(props)

  .features__item(class=allMods)&attributes(attributes)
    .features__icon
      svg(width=props.width height=props.height)
        use(xlink:href="img/sprite.svg#" + props.icon)
    .features__text !{props.text}
